<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>PÁGINA INICIAL</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <link th:href="@{/css/style.css}" rel="stylesheet"/>
        <link rel="stylesheet" th:href="@{/bootstrap/css/bootstrap.min.css}"> </link>
    </head>
    <body>
        <div class="container">
            <div class="row"> <!-- NAVBAR NO TOPO DA PÁGINA -->
                <ul class="nav justify-content-end">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" th:href="@{index}">HOME</a>
                    </li>
                    
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" th:href="@{processo}">Processos</a>
                    </li>   
                    
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" th:href="@{pessoa}">Pessoas</a>
                    </li>
                    
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" th:href="@{advogado}">Advogados</a>
                    </li>
                </ul>
            </div>
            
            <div class="row">
                <div class="col-12 text-center">
                    <h2>PLATAFORMA JURÍDICA</h2>
                </div>
            </div>
            
            <div class="row"><!-- NAVBAR ESQUERDA DA PÁGINA -->
                <div class="col-sm-2 ">
                    <ul class="nav flex-column text-center">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" th:href="@{processo}">Processos</a>
                        </li>   
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" th:href="@{pessoa}">Pessoas</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" th:href="@{advogado}">Advogados</a>
                        </li>
                    </ul>
                </div> <!-- FIM DIV COL NAV -->
               
                <div class="col-md-9 ">
                    <div class="row">
                        <form id="campoBuscaProcesso">
                            <label for="buscaProcesso" class= "form-label">Nº Processo:</label>                       
                            <input type="text" id="buscaProcesso" name="buscaProcesso" class="form-control"/>
                            <br/>
                            <button type="submit" class="btn btn-primary">Buscar</button>
                        </form>
                    </div> <!--FIM DIV BUSCA PROCESSO --><br/>
                    
                    <div class="row">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">First</th>
                                    <th scope="col">Last</th>
                                    <th scope="col">Handle</th>
                                </tr>
                            </thead>
                            
                            <tbody>
                                <tr>
                                    <th scope="row">1</th>
                                    <td>Mark</td>
                                    <td>Otto</td>
                                    <td>@mdo</td>
                                </tr>
                                
                                <tr>
                                    <th scope="row">2</th>
                                    <td>Jacob</td>
                                    <td>Thornton</td>
                                    <td>@fat</td>
                                </tr>
                                
                                <tr>
                                    <th scope="row">3</th>
                                    <td colspan="2">Larry the Bird</td>
                                    <td>@twitter</td>
                                </tr>
                            </tbody>
                        </table>                     
                    </div> <!-- FIM DIV ROW TABLE -->                   
                </div> <!-- FIM DIV COL FORM E TABLE -->
                
            </div><!-- FIM DIV ROW PRINCIPAL -->
       
            
        </div> <!-- FIM DIV CONTAINER -->
        
        <script th:src="@{/bootstrap/js/bootstrap.min.js}"></script>
        <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script> 
         <script th:src="@{/js/scriptsIndexProcesso.js}"></script>
    </body>
</html>
